!aws_backup/

**/__pycache__
archive/
.runs/
runs
.vscode/

dataset
video_dataset
checkpoints
checkpoints/
checkpoints_hf
checkpoints_hf/

.ipynb_checkpoints
*/.ipynb_checkpoints/*

*.ipynb

vis_output/
slurm_outputs/

scripts/


model/segment_anything_2/build/lib.linux-x86_64-cpython-310/sam2/_C.so
model/segment_anything_2/build/lib.linux-x86_64-cpython-311/sam2/_C.so
model/segment_anything_2/build/temp.linux-x86_64-cpython-310/.ninja_deps
model/segment_anything_2/build/temp.linux-x86_64-cpython-310/.ninja_log
model/segment_anything_2/build/temp.linux-x86_64-cpython-310/build.ninja
model/segment_anything_2/build/temp.linux-x86_64-cpython-310/sam2/csrc/connected_components.o
model/segment_anything_2/build/temp.linux-x86_64-cpython-311/.ninja_deps
model/segment_anything_2/build/temp.linux-x86_64-cpython-311/.ninja_log
model/segment_anything_2/build/temp.linux-x86_64-cpython-311/build.ninja
model/segment_anything_2/build/temp.linux-x86_64-cpython-311/sam2/csrc/connected_components.o
model/segment_anything_2/sam2/_C.so
*.so
*.ninja_log
*.ninja_deps
*.ninja
*.o


.gradio


tools/stanford-corenlp-full-2018-02-27